.navbar {
    position: absolute;
    top: 20px;
}

.navbar>ul {
    display: flex;
    list-style-type: none;
}

.navbar>ul>li {
    padding: 0 10px;
}

.navbar>ul>li>a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    transition: all 0.2s;
}

.navbar>ul>li>a:hover {
    color: #4476D0;
}