.ReactModal__Content {
  z-index: 100;
  position: relative;
  display: flex;
  padding: 0 !important;
  overflow: hidden !important;
}

.gameModal__left {
  flex: 1.2;
  border-right: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 401px;
}

.gameModal__leftTop {
  flex: 1;
}

.gameModal__leftBottom {
  flex: 1.5;
}

.gameModal__right {
  flex: 3;
}

.gameModal__closeBtn {
  position: absolute;
  top: 3vh;
  right: 2vw;
}

/* Specific settings for each game's modal logo */
.gameModal__logo {
  float: left;
  max-width: 400px;
  height: 300px;
  object-fit: contain;
  padding: 0 20px;
}

.FFII__logo {
  width: 600px;
}

/* Specific settings for each game's modal background */
.gameModal__bg > img {
  max-width: 100%;
  position: absolute;
  opacity: 0.4;
}

.FFI__bg > img {
  width: 800px;
  bottom: 0;
  right: -150px;
}

.FFII__bg > img {
  width: 900px;
  bottom: 0;
  right: -300px;
}

.FFVIII__bg > img {
  bottom: -300px;
  right: -600px;
}
